@import '../../../styles/vars.scss';

.searchbox {
  background-color: $WhiteColor;
  width: 300px;
  border: 1px solid $DarkGrayColor;
  border-radius: 5px;
  position: relative;
  display: flex;
  margin-bottom: 20px;

  input {
    border: none;
    border-radius: 5px;
    height: 25px;
    flex-grow: 1;
    padding: 2px 4px;
    padding-right: 20px;
  }
  a {
    position: absolute;
    right: 5px;
    top: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}
